# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=atr_bpn_project
DB_USER=postgres
DB_PASSWORD=your_password_here

# LLM Configuration (Opsional)
OPENAI_API_KEY=
USE_LOCAL_LLM=False
OLLAMA_BASE_URL=http://localhost:11434
